
body{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
}

.hid-img{
    display: none;
}



.main-left img{
    height: 100vh;
}





/* the form */
.the-form{
    position: relative;
    left: 150px;
    top: 150px;
    height: 400px;
    display:block;
    color: red;
}
.cardholder-name{
    margin-bottom: 25px;
    width: 300px;
}
.card-number-input{
    margin-bottom: 15px;
    width: 300px;
}


.small-form{
    display: flex;
}
.left-small-form input{
    width: 60px;
}
.right-small-form{
    margin-left: 5px;
}
.digit{
    width: 170px;
}
.btn{
    margin-top: 15px;
}
.erorr{
    font-size: 10px;
}




/* front card */
#card-front{
    position: absolute;
    left: 160px;
    top: 100px;
    text-align: left;
    border-radius: 3%;
    width: 447px;
    height: 245px;
    background-image: url("public/images/bg-card-front.png")
}
#card-front svg{
    position: relative;
    top: 20px;
    left: 20px;
}
#card-front h3{
    position: relative;
    height: 30px;
    top: 80px;
    left: 40px;
}

#card-front p{
    margin: 0;
    padding: 0;
}
#card-front .card-font-small-text{
    position: relative;
    top: 90px;
    display:inline-table;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
#card-front .card-name{
    position: relative;
    left: 40px;
    height: 30px;
}

#card-front .card-mm-yy{
    position: relative;
    bottom: 30px;
    left: 300px;
}




/* back card */
#card-back{
    position: absolute;
    left: 220px;
    top: 400px;
    border-radius: 3%;
    width: 447px;
    height: 245px;
    background-image: url("public/images/bg-card-back.png")
}
#card-back p{
    position: relative;
    display: flex;
    top: 107px;
    left: 365px;
}


/* after confirm form */

.confirm-div{
    display: none;
}

.confirm-div-display{
    color: black;
    text-align: center;
}

.confirm-div-display h5{
    color: gray;
}





@media (max-width: 1308px){
    body{
        background-color: #fff;
        height: 100%;
    }
    .hid-img{
        display: flex;
        width: 400px;
        z-index: -1;
        margin: 0 auto 0 auto;
    }
    .show-img{
        display: none;
    }

    .the-form{
        text-align: center;
        position: absolute;
        width: 400px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 250px;
        background-color: #fff;
    }
    .small-form{
        display: flex;
        justify-content: center;
    }


      #card-front{
        height: 160px;
        position: absolute;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 50px;
        top: 80px;
      }
      #card-front h3{
        font-size: 20px;
        position: relative;
        top: 40px;
      }
      #card-front .card-font-small-text{
        position:relative;
        display:inline-table;;
        justify-content: flex-start;
        top: 40px;
        margin: 0;
        padding: 0;
      }
      #card-front p{
        font-size: 10px;
      }
      #card-front .card-mm-yy{
        position:relative;
        top: -30px;
        left: 250px;
      }

      #card-back{
        height: 160px;
        position: absolute;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        left: 60px;
        right: 0px;
        top: 20px;
        z-index: -1;
      }
      #card-back p{
        position: relative;
        left: 255px;
        width: 20px;
      }
}
